.ce_main {
    width: 200px;
    height: 510px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: right;
    position: absolute;
    z-index: 999999;
    top: 46%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #ffffff;
    overflow-y: scroll;
    /*opacity: .4;*/
}
